@media screen and (min-width: 945px) {
    .container {
        width: 945px;
        margin: 0 auto;
    }
}


body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
}


p {
    font-size: 16px;
}


h1 {
    font-size: 55px;
}


h2 {
    color: #7d97ad;
    font-weight: 700;
    font-size: 35px;
}


h3 {
    color: #2d3c49;
    font-weight: 600;
    font-size: 20px;
}


hr {
    background-color: #7d97ad;
    height: 3px;
}


.project-link a{
    color: #2d3c49;
    font-weight: 600;
    font-size: 16px;
}


.project-title {
    font-size: 24px;
    font-weight: 800;
}


.featured-work {
    text-align: center;
    margin-bottom: 30px;
}


.featured-work-image {
    margin: 0 auto;
}


.header-logo {
    margin-top: 30px;
}